*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$enable-gradients: true;
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');



body{
    background-image: url(multimedia/fondoo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sup{
    z-index: 1;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    .navbar-nav{
        .nav-item{
            a{
                color: black;
            }
        }
    }
    .navbar-toggler-icon{
        background-image: url(multimedia/pawtr.png);
    }
}
.carou{
    z-index: 11;
    width: 60%;
    margin-top: 155px;
    margin-left: 20%;
    .carousel-slide{
        z-index: 11;
    }
    .carousel-item{
        height: 500px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.histo{
    border:none;
    margin-top: 30px;
    h2{
        text-align: center;
        color: maroon;
        font-family: cursive;
        font-style: oblique;
    }
    h3{
        color: maroon;
        font-family: cursive;
        font-style: oblique;
    }
    p{
        font-family: sans-serif;
        text-align: justify;
    }
    .imagenTogo img{
        display: block;
        margin: auto;
        width: 400px;
        height: auto;
    }
}
.pruebaMarcas{
    border: none;
    align-content: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 280px 50px;
    h3{
        color: maroon;
        font-family: cursive;
        font-style: oblique;
    }
    #mar1{
        border: none;
        background-image: url(multimedia/tasteofthewild.jpg);
        background-size: cover;
        grid-column: 1/2;
        grid-row: 1/3;
    }
    #mar2{
        border: none;
        background-image: url(multimedia/euk.jpg);
        background-size: cover;
        grid-column: 2/3;
        grid-row: 1/3;
        
    }
    #mar3{
        border: none;
        background-image: url(multimedia/propp.jpg);
        background-size: cover;
        grid-column: 3/4;
        grid-row: 1/3;
        
    }
    #mar4{
        text-align: center;
        font-family: cursive;
        font-style: oblique;
        border: none;
        background-image: linear-gradient(to bottom, cornflowerblue, gray);
        grid-column: 1/4;
        grid-row: 3/4;
    }
}
.card-group{
    .card{
        .card-img-top{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        .card-body{
            h2{
                color: maroon;
                font-family: cursive;
                font-style: oblique;
            }
        }
    }
}
.footer--props{
    color:  maroon;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    background-size: cover;
    h2{
        font-size: 50px;
        font-family: cursive;
        font-style: oblique;
        color: maroon;
    }
    .footer_img--props{
        height: 100px;
        width: auto;
    }
    .footer_redes--props{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .so{
            font-size: 50px;
        }
        .so1{
            padding-left: 10px;
            padding-right: 10px;
        }
        .so2{
            padding-left: 10px;
            padding-right: 10px;
        }
        .so3{
            padding-left: 10px;
            padding-right: 10px;
        }
        .so4{
            padding-left: 10px;
            padding-right: 10px;
        }
        .so5{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

// razas //
.razas{
    text-align: center;
    margin-top: 165px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
#husky{
    border: none;
    height: 373px;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    .hu1{
        font-family:cursive;
        h2{
            margin-top: 50px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 50px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
        }
    }
    .hu2{
        background-image: url(multimedia/husky1.png);
        background-size: cover;
    }
}

#alaskan1{
    border: none;
    height: 373px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    .ala2{
        font-family: cursive;
        h2{
            margin-top: 50px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 50px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
        }
    }
    .ala1{
        background-image: url(multimedia/alaskanmalute.jpg);
        background-size: cover;
    }
}

#samoyedo1{
    border: none;
    height: 373px;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    .sam1{
        font-family: cursive;
        h2{
            margin-top: 50px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 50px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
        }
    }
    .sam2{
        background-image: url(multimedia/samoyedo.jpg);
        background-size: cover;
    }
}


// training //

.trainingHusky{
    text-align: center;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 165px;
    h2{
        margin-top: 10px;
        font-size: 25px;
        text-align: center;
        margin-bottom: 10px;
    }
}
#ejHusky{
    border: 1px outset cornflowerblue;
    border: none;
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    .ejh1{
        font-family: cursive;
        h3{
            margin-top: 10px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 10px;
        }
        
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
        }
    }
    .ejh2{
        background-image: url(multimedia/rallyh.jpg);
        background-size: cover;
    }
}
#adHusky{
    border: none;
    height: 450px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    .adh2{
        font-family: cursive;
        h3{
            margin-top: 25px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 10px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
        }
    }
    .adh1{
        background-image: url(multimedia/socialh.jpg);
        background-size: cover;
    }
}

.trainingAlaskan{
    text-align: center;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    h2{
        margin-top: 10px;
        font-size: 25px;
        text-align: center;
        margin-bottom: 10px;
    }
}
#ejAlaskan{
    border: none;
    height: 450px;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    .eja1{
        font-family: cursive;
        h3{
            margin-top: 30px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 10px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
        }
    }
    .eja2{
        background-image: url(multimedia/trienoalas.jpg);
        background-size: cover;
    }
}
#adAlaskan{
    border: none;
    height: 450px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    .ada2{
        font-family: cursive;
        h3{
            margin-top: 25px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 10px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
        }
    }
    .ada1{
        background-image: url(multimedia/socialal.jpg);
        background-size: cover;
    }
}

.trainingSamoyedo{
    text-align: center;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    h2{
        margin-top: 10px;
        font-size: 25px;
        text-align: center;
        margin-bottom: 10px;
    }
}
#ejSamoyedo{
    border: none;
    height: 373px;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    .ejs1{
        font-family: cursive;
        h3{
            margin-top: 35px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 45px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
        }
    }
    .ejs2{
        background-image: url(multimedia/camina.jpg);
        background-size: cover;
    }
}

#aSamoyedo{
    border: none;
    height: 373px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    .as2{
        font-family: cursive;
        h3{
            margin-top: 35px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 55px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
        }
    }
    .as1{
        background-image: url(multimedia/samjug.jpg);
        background-size: cover;
    }
}


.quienes{
    border: none;
    margin-top: 165px;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    .con1{
        font-family: cursive;
        h2{
            margin-top: 30px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 40px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            padding: 0 20px;
        }
    }
    .con2{
        background-image: url(multimedia/nordish.jpg);
        background-size:contain;
        background-repeat: no-repeat;
        height: 300px;
    }
}


//alimentos //

.aliment{
    text-align: center;
    margin-top: 165px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
#eukanuba{
    border: none;
    height: 373px;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    .eu1{
        font-family: cursive;
        h2{
            margin-top:40px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 20px;
        }
        h5{
            margin-top: 20px;
            font-size: 23px;
            text-align:left;
            margin-left: 100px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
        }
        ol{
            list-style:decimal;
            text-align: left;
            font-size: 20px;
            margin-left: 100px;
            list-style-position: inside;
        }
    }
    .eu2{
        background-image: url(multimedia/kanuba.jpg);
        background-size: cover;
    }
}

#tasteofthe{
    border: none;
    height: 373px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    .tw2{
        font-family: cursive;
        h2{
            margin-top:40px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 20px;
        }
        h5{
            margin-top: 20px;
            font-size: 23px;
            text-align:left;
            margin-left: 100px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
        }
        ol{
            list-style:decimal;
            text-align: left;
            font-size: 20px;
            margin-left: 100px;
            list-style-position: inside;
        }
    }
    .tw1{
        background-image: url(multimedia/tow.jpg);
        background-size: cover;
    }
}

#proplan{
    border: none;
    height: 373px;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    .pp1{
        font-family: cursive;
        h2{
            margin-top:75px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 20px;
        }
        h5{
            margin-top: 20px;
            font-size: 23px;
            text-align:left;
            margin-left: 100px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
        }
        ol{
            list-style:decimal;
            text-align: left;
            font-size: 20px;
            margin-left: 100px;
            list-style-position: inside;
        }
    }
    .pp2{
        background-image: url(multimedia/prop.jpeg);
        background-size: cover;
    }
}

@media (min-width: 425px) and (max-width: 768px){
    .sup{
        height:auto;
    }
    .carou{
        .carousel-item{
            height: 180px;
        }
    }
    .imagenTogo img{
        display: block;
        margin: auto;
        width: 350px;
        height: auto;
        margin-bottom: 20px;
    }
    .so{
        font-size: 60px;
    }
    .pruebaMarcas{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 200px 30px;
    }
}

//mobile //
@media (min-width: 320px) and (max-width: 425px) and (orientation: portrait){
    .sup{
        height: auto;
    }
    .carou{
        .carousel-item{
            height: 150px;
        }
    }
    .imagenTogo img{
        display: block;
        margin: auto;
        width: 100px;
        height: auto;
    }
    .pruebaMarcas{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 200px 30px;
    }
    #mar4 h3{
        font-size: 20px;
    }
    .so{
        font-size: 50px;
    }
    .quienes{
        margin-top: 360px;
        display: flex;
        flex-direction: column;
    }
}