*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$enable-gradients: true;
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');



body{
    background-image: url(multimedia/fondoo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sup{
    z-index: 1;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    .navbar-nav{
        .nav-item{
            a{
                color: black;
            }
        }
    }
    .navbar-toggler-icon{
        background-image: url(multimedia/pawtr.png);
    }
}
.carou{
    z-index: 11;
    width: 60%;
    margin-top: 155px;
    margin-left: 20%;
    .carousel-slide{
        z-index: 11;
    }
    .carousel-item{
        height: 500px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.histo{
    border:none;
    margin-top: 30px;
    h2{
        text-align: center;
        color: maroon;
        font-family: cursive;
        font-style: oblique;
    }
    h3{
        color: maroon;
        font-family: cursive;
        font-style: oblique;
    }
    p{
        font-family: sans-serif;
        text-align: justify;
    }
    .imagenTogo img{
        display: block;
        margin: auto;
        width: 400px;
        height: auto;
    }
}
.card-group{
    .card{
        .card-img-top{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        .card-body{
            h2{
                color: maroon;
                font-family: cursive;
                font-style: oblique;
            }
        }
    }
}
.footer--props{
    color:  maroon;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    background-size: cover;
    h2{
        font-size: 50px;
        font-family: cursive;
        font-style: oblique;
        color: maroon;
    }
    .footer_img--props{
        height: 100px;
        width: auto;
    }
    .footer_redes--props{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .so{
            font-size: 50px;
            padding-left: 10px;
            padding-right: 10px;
        }
        
    }
}

// razas //
.razas{
    text-align: center;
    margin-top: 145px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
.contenedorSiberiano{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "siberiano imagenSiberiano";
    height: 373px;
    width: 100%;
    .siberiano{
        grid-area: siberiano;
        font-family:cursive;
        h2{
            margin-top: 50px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 50px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
        }
    }
    .imagenSiberiano{
        grid-area: imagenSiberiano;
        background-image: url(multimedia/husky1.png);
        background-size: cover;
    }
}

.contenedorMalam{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "imagenMalam malam";
    height: 373px;
    width: 100%;
    .imagenMalam{
        grid-area: imagenMalam;
        background-image: url(multimedia/alaskanmalute.jpg);
        background-size: cover;
    }
    .malam{
        grid-area: malam;
        font-family: cursive;
        h2{
            margin-top: 50px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 50px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
            margin-bottom: 50px;
        }
    }
}
.contenedorSamoy{
    margin-top: 110px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "samoy imagenSamoy";
    height: 373px;
    width: 100%;
    .samoy{
        grid-area: samoy;
        font-family: cursive;
        h2{
            margin-top: 50px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 50px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
            margin-bottom: 50px;
        }
    }
    .imagenSamoy{
        grid-area: imagenSamoy;
        background-image: url(multimedia/samoyedo.jpg);
        background-size: cover;
    }
}


// training //

.trainingHusky{
    text-align: center;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 165px;
    h2{
        margin-top: 10px;
        font-size: 25px;
        text-align: center;
        margin-bottom: 10px;
    }
}
.contenedorEjsiberiano{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "ejsiberiano imagenEjsiberiano";
    height: 450px;
    width: 100%;
    .ejsiberiano{
        grid-area: ejsiberiano;
        font-family: cursive;
        h3{
            margin-top: 10px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 10px;
        }
        
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
        }
    }
    .imagenEjsiberiano{
        grid-area: imagenEjsiberiano;
        background-image: url(multimedia/rallyh.jpg);
        background-size: cover;
    }
}


.trainingAlaskan{
    text-align: center;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    h2{
        margin-top: 250px;
        font-size: 25px;
        text-align: center;
        margin-bottom: 10px;
    }
}

.contenedorEjmalam{
    
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "imagenEjmalam ejmalam";
    height: 450px;
    width: 100%;
    .imagenEjmalam{
        grid-area: imagenEjmalam;
        background-image: url(multimedia/trienoalas.jpg);
        background-size: cover;
    }
    .ejmalam{
        grid-area: ejmalam;
        font-family: cursive;
        h3{
            margin-top: 30px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 10px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
        }
    }
}


.trainingSamoyedo{
    text-align: center;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    h2{
        margin-top: 180px;
        font-size: 25px;
        text-align: center;
        margin-bottom: 10px;
    }
}

.contenedorEjsamoy{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "ejsamoy imagenEjsamoy";
    height: 480px;
    width: 100%;
    .ejsamoy{
        grid-area: ejsamoy;
        font-family: cursive;
        h3{
            margin-top: 35px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 45px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
        }
    }
    .imagenEjsamoy{
        grid-area: imagenEjsamoy;
        background-image: url(multimedia/camina.jpg);
        background-size: cover;
    }
}

.contenedorQuienes{
    margin-top: 117px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "quienes imagenQuienes";
    height: 300px;
    width: 100%;
    .imagenQuienes{
        grid-area: imagenQuienes;
        background-image: url(multimedia/nieves.jpg);
        background-size: cover;
    }
    .quienes{
        grid-area: quienes;
        font-family: cursive;
        h2{
            margin-top: 30px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 40px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            padding: 0 20px;
        }
    }
}


//alimentos //

.aliment{
    text-align: center;
    margin-top: 120px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contenedorEuka{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "euka imagenEuka";
    height: 373px;
    width: 100%;
    .euka{
        grid-area: euka;
        font-family: cursive;
        h2{
            margin-top:40px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 20px;
        }
        h5{
            margin-top: 20px;
            font-size: 23px;
            text-align:left;
            margin-left: 100px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
        }
        ol{
            list-style:decimal;
            text-align: left;
            font-size: 20px;
            margin-left: 100px;
            list-style-position: inside;
        }
    }
    .imagenEuka{
        grid-area: imagenEuka;
        background-image: url(multimedia/kanuba.jpg);
        background-size: cover;
    }
}

.contenedorTastew{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "imagenTastew tastew";
    height: 500px;
    width: 100%;
    .imagenTastew{
        grid-area: imagenTastew;
        background-image: url(multimedia/tow.jpg);
        background-size: cover;
    }
    .tastew{
        grid-area: tastew;
        font-family: cursive;
        h2{
            margin-top:40px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 20px;
        }
        h5{
            margin-top: 20px;
            font-size: 23px;
            text-align:left;
            margin-left: 100px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
        }
        ol{
            list-style:decimal;
            text-align: left;
            font-size: 20px;
            margin-left: 100px;
            list-style-position: inside;
        }
    }
}
.contenedorPro{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "pro imagenPro";
    height: 373px;
    width: 100%;
    .pro{
        grid-area: pro;
        font-family: cursive;
        h2{
            margin-top:75px;
            font-size: 25px;
            text-align: center;
            margin-bottom: 20px;
        }
        h5{
            margin-top: 20px;
            font-size: 23px;
            text-align:left;
            margin-left: 100px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            margin-left: 100px;
            margin-right: 100px;
        }
        ol{
            list-style:decimal;
            text-align: left;
            font-size: 20px;
            margin-left: 100px;
            list-style-position: inside;
        }
    }
    .imagenPro{
        grid-area: imagenPro;
        background-image: url(multimedia/prop.jpeg);
        background-size: cover;
    }
}

@media (min-width: 425px) and (max-width: 768px){
    .sup{
        height:auto;
    }
    .carou{
        .carousel-item{
            height: 180px;
        }
    }
    .histo .imagenTogo img{
        display: block;
        margin: auto;
        width: 350px;
        height: auto;
        margin-bottom: 20px;
    }
    .so{
        font-size: 60px;
    }
    .contenedorQuienes{
        margin-top: 117px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 200px ;
        grid-template-areas: 
        "imagenQuienes"
        "quienes";
        height: 550px;
        width: 100%;
        .imagenQuienes{
            grid-area: imagenQuienes;
            background-image: url(multimedia/nieves.jpg);
            background-size: cover;
        }
        .quienes{
            grid-area: quienes;
            font-family: cursive;
            h2{
                margin-top: 30px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 40px;
            }
            p{
                font-size: 20px;
                text-align: justify;
                padding: 0 20px;
            }
        }
    }
    .contenedorSiberiano{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 250px ;
        grid-template-areas: 
        "imagenSiberiano"
        "siberiano";
        height: 550px;
        width: 100%;
        .siberiano{
            grid-area: siberiano;
            font-family:cursive;
            h2{
                margin-top: 50px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 50px;
            }
            p{
                font-size: 20px;
                text-align: justify;
                margin-left: 50px;
                margin-right: 50px;
            }
        }
        .imagenSiberiano{
            grid-area: imagenSiberiano;
            background-image: url(multimedia/husky1.png);
            background-size: cover;
        }
    }
    .contenedorMalam{
        margin-top: 150px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 250px 200px ;
        grid-template-areas: 
        "imagenMalam" 
        "malam";
        height: 550px;
        width: 100%;
        .imagenMalam{
            grid-area: imagenMalam;
            background-image: url(multimedia/alaskanmalute.jpg);
            background-size: cover;
        }
        .malam{
            grid-area: malam;
            font-family: cursive;
            h2{
                margin-top: 50px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 50px;
            }
            p{
                font-size: 20px;
                text-align: justify;
                margin-left: 50px;
                margin-right: 50px;
                margin-bottom: 50px;
            }
        }
    }
    .contenedorSamoy{
        margin-top: 200px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 250px 200px ;
        grid-template-areas: 
        "imagenSamoy"
        "samoy";
        height: 550px;
        width: 100%;
        margin-bottom: 150px;
        .samoy{
            grid-area: samoy;
            font-family: cursive;
            h2{
                margin-top: 50px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 50px;
            }
            p{
                font-size: 20px;
                text-align: justify;
                margin-left: 50px;
                margin-right: 50px;
                margin-bottom: 50px;
            }
        }
        .imagenSamoy{
            grid-area: imagenSamoy;
            background-image: url(multimedia/samoyedo.jpg);
            background-size: cover;
        }
    }
    .contenedorEuka{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 450px 150px ;
        grid-template-areas: 
        "imagenEuka"
        "euka";
        height: 600px;
        width: 100%;
        .euka{
            grid-area: euka;
            font-family: cursive;
            h2{
                margin-top:40px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 20px;
            }
            h5{
                margin-top: 20px;
                font-size: 23px;
                text-align:left;
                margin-left: 50px;
            }
            p{
                font-size: 20px;
                text-align: justify;
                margin-left: 50px;
                margin-right: 50px;
            }
            ol{
                list-style:decimal;
                text-align: left;
                font-size: 20px;
                margin-left: 50px;
                list-style-position: inside;
            }
        }
        .imagenEuka{
            grid-area: imagenEuka;
            background-image: url(multimedia/kanuba.jpg);
            background-size: cover;
        }
    }
    
    .contenedorTastew{
        margin-top: 200px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 450px 250px ;
        grid-template-areas: 
        "imagenTastew" 
        "tastew";
        height: 700px;
        width: 100%;
        .imagenTastew{
            grid-area: imagenTastew;
            background-image: url(multimedia/tow.jpg);
            background-size: cover;
        }
        .tastew{
            grid-area: tastew;
            font-family: cursive;
            h2{
                margin-top:40px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 20px;
            }
            h5{
                margin-top: 20px;
                font-size: 23px;
                text-align:left;
                margin-left: 50px;
            }
            p{
                font-size: 20px;
                text-align: justify;
                margin-left: 50px;
                margin-right: 50px;
            }
            ol{
                list-style:decimal;
                text-align: left;
                font-size: 20px;
                margin-left: 50px;
                list-style-position: inside;
            }
        }
    }
    .contenedorPro{
        margin-top: 200px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 350px 200px ;
        grid-template-areas: 
        "imagenPro"
        "pro";
        height: 700px;
        width: 100%;
        .pro{
            grid-area: pro;
            font-family: cursive;
            h2{
                margin-top:75px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 20px;
            }
            h5{
                margin-top: 20px;
                font-size: 23px;
                text-align:left;
                margin-left: 50px;
            }
            p{
                font-size: 20px;
                text-align: justify;
                margin-left: 50px;
                margin-right: 50px;
            }
            ol{
                list-style:decimal;
                text-align: left;
                font-size: 20px;
                margin-left: 50px;
                list-style-position: inside;
            }
        }
        .imagenPro{
            grid-area: imagenPro;
            background-image: url(multimedia/prop.jpeg);
            background-size: cover;
        }
    }
    .contenedorEjsiberiano{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 350px 300px ;
        grid-template-areas: 
        "imagenEjsiberiano"
        "ejsiberiano";
        height: 700px;
        width: 100%;
        .ejsiberiano{
            grid-area: ejsiberiano;
            font-family: cursive;
            h3{
                margin-top: 10px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 10px;
            }
            
            p{
                font-size: 20px;
                text-align: justify;
                margin-left: 50px;
                margin-right: 50px;
            }
        }
        .imagenEjsiberiano{
            grid-area: imagenEjsiberiano;
            background-image: url(multimedia/rallyh.jpg);
            background-size: cover;
        }
    }
    .trainingAlaskan{
        h2{
            margin-top: 600px;
        }
    }
    .contenedorEjmalam{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 350px 300px ;
        grid-template-areas: 
        "imagenEjmalam" 
        "ejmalam";
        height: 850px;
        width: 100%;
        .imagenEjmalam{
            grid-area: imagenEjmalam;
            background-image: url(multimedia/trienoalas.jpg);
            background-size: cover;
        }
        .ejmalam{
            grid-area: ejmalam;
            font-family: cursive;
            h3{
                margin-top: 30px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 10px;
            }
            p{
                font-size: 20px;
                text-align: justify;
                margin-left: 50px;
                margin-right: 50px;
            }
        }
    }
    .trainingSamoyedo{
        h2{
            margin-top: 450px;
        }
    }
    .contenedorEjsamoy{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 350px 200px ;
        grid-template-areas: 
        "imagenEjsamoy"
        "ejsamoy";
        height: 800px;
        width: 100%;
        margin-bottom: 50px;
        .ejsamoy{
            grid-area: ejsamoy;
            font-family: cursive;
            h3{
                margin-top: 35px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 45px;
            }
            p{
                font-size: 20px;
                text-align: justify;
                margin-left: 50px;
                margin-right: 50px;
            }
        }
        .imagenEjsamoy{
            grid-area: imagenEjsamoy;
            background-image: url(multimedia/camina.jpg);
            background-size: cover;
        }
    }
}

//mobile //
@media (min-width: 320px) and (max-width: 425px) and (orientation: portrait){
    .sup{
        height: auto;
    }
    .carou{
        .carousel-item{
            height: 150px;
        }
    }
    .histo .imagenTogo img{
        display: block;
        margin: auto;
        width: 100px;
        height: auto;
    }
    .so{
        font-size: 50px;
    }
    .contenedorQuienes{
        margin-top: 117px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 200px ;
        grid-template-areas: 
        "imagenQuienes"
        "quienes";
        height: 650px;
        width: 100%;
        
        .imagenQuienes{
            grid-area: imagenQuienes;
            background-image: url(multimedia/nieves.jpg);
            background-size: cover;
        }
        .quienes{
            grid-area: quienes;
            font-family: cursive;
            h2{
                margin-top: 30px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 40px;
            }
            p{
                font-size: 20px;
                text-align: justify;
                padding: 0 20px;
            }
        }
    }
    .contenedorSiberiano{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 300px ;
        grid-template-areas: 
        "imagenSiberiano"
        "siberiano";
        height: 600px;
        width: 100%;
        .siberiano{
            grid-area: siberiano;
            font-family:cursive;
            h2{
                margin-top: 50px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 50px;
            }
            p{
                font-size: 20px;
                text-align: justify;
                margin-left: 50px;
                margin-right: 50px;
            }
        }
        .imagenSiberiano{
            grid-area: imagenSiberiano;
            background-image: url(multimedia/husky1.png);
            background-size: cover;
        }
    }
    .contenedorMalam{
        margin-top: 200px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 250px 300px ;
        grid-template-areas: 
        "imagenMalam" 
        "malam";
        height: 750px;
        width: 100%;
        .imagenMalam{
            grid-area: imagenMalam;
            background-image: url(multimedia/alaskanmalute.jpg);
            background-size: cover;
        }
        .malam{
            grid-area: malam;
            font-family: cursive;
            h2{
                margin-top: 50px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 50px;
            }
            p{
                font-size: 20px;
                text-align: justify;
                margin-left: 50px;
                margin-right: 50px;
                margin-bottom: 50px;
            }
        }
    }
    .contenedorSamoy{
        margin-top: 200px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 250px 200px ;
        grid-template-areas: 
        "imagenSamoy"
        "samoy";
        height: 650px;
        width: 100%;
        margin-bottom: 150px;
        .samoy{
            grid-area: samoy;
            font-family: cursive;
            h2{
                margin-top: 50px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 50px;
            }
            p{
                font-size: 20px;
                text-align: justify;
                margin-left: 50px;
                margin-right: 50px;
                margin-bottom: 50px;
            }
        }
        .imagenSamoy{
            grid-area: imagenSamoy;
            background-image: url(multimedia/samoyedo.jpg);
            background-size: cover;
        }
    }
    .contenedorEuka{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 300px ;
        grid-template-areas: 
        "imagenEuka"
        "euka";
        height: 450px;
        width: 100%;
        .euka{
            grid-area: euka;
            font-family: cursive;
            h2{
                margin-top:40px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 20px;
            }
            h5{
                margin-top: 20px;
                font-size: 23px;
                text-align:left;
                margin-left: 50px;
            }
            p{
                font-size: 20px;
                text-align: justify;
                margin-left: 50px;
                margin-right: 50px;
            }
            ol{
                list-style:decimal;
                text-align: left;
                font-size: 20px;
                margin-left: 50px;
                list-style-position: inside;
            }
        }
        .imagenEuka{
            grid-area: imagenEuka;
            background-image: url(multimedia/kanuba.jpg);
            background-size: cover;
        }
    }
    
    .contenedorTastew{
        margin-top: 200px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 250px 300px ;
        grid-template-areas: 
        "imagenTastew" 
        "tastew";
        height: 600px;
        width: 100%;
        .imagenTastew{
            grid-area: imagenTastew;
            background-image: url(multimedia/tow.jpg);
            background-size: cover;
        }
        .tastew{
            grid-area: tastew;
            font-family: cursive;
            h2{
                margin-top:40px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 20px;
            }
            h5{
                margin-top: 20px;
                font-size: 23px;
                text-align:left;
                margin-left: 50px;
            }
            p{
                font-size: 20px;
                text-align: justify;
                margin-left: 50px;
                margin-right: 50px;
            }
            ol{
                list-style:decimal;
                text-align: left;
                font-size: 20px;
                margin-left: 50px;
                list-style-position: inside;
            }
        }
    }
    .contenedorPro{
        margin-top: 200px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 250px 200px ;
        grid-template-areas: 
        "imagenPro"
        "pro";
        height: 700px;
        width: 100%;
        .pro{
            grid-area: pro;
            font-family: cursive;
            h2{
                margin-top:75px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 20px;
            }
            h5{
                margin-top: 20px;
                font-size: 23px;
                text-align:left;
                margin-left: 50px;
            }
            p{
                font-size: 20px;
                text-align: justify;
                margin-left: 50px;
                margin-right: 50px;
            }
            ol{
                list-style:decimal;
                text-align: left;
                font-size: 20px;
                margin-left: 50px;
                list-style-position: inside;
            }
        }
        .imagenPro{
            grid-area: imagenPro;
            background-image: url(multimedia/prop.jpeg);
            background-size: cover;
        }
    }
    .contenedorEjsiberiano{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 300px ;
        grid-template-areas: 
        "imagenEjsiberiano"
        "ejsiberiano";
        height: 750px;
        width: 100%;
        .ejsiberiano{
            grid-area: ejsiberiano;
            font-family: cursive;
            h3{
                margin-top: 10px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 10px;
            }
            
            p{
                font-size: 20px;
                text-align: justify;
                margin-left: 50px;
                margin-right: 50px;
            }
        }
        .imagenEjsiberiano{
            grid-area: imagenEjsiberiano;
            background-image: url(multimedia/rallyh.jpg);
            background-size: cover;
        }
    }
    .trainingAlaskan{
        h2{
            margin-top: 600px;
        }
    }
    .contenedorEjmalam{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 250px 300px ;
        grid-template-areas: 
        "imagenEjmalam" 
        "ejmalam";
        height: 850px;
        width: 100%;
        .imagenEjmalam{
            grid-area: imagenEjmalam;
            background-image: url(multimedia/trienoalas.jpg);
            background-size: cover;
        }
        .ejmalam{
            grid-area: ejmalam;
            font-family: cursive;
            h3{
                margin-top: 30px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 10px;
            }
            p{
                font-size: 20px;
                text-align: justify;
                margin-left: 50px;
                margin-right: 50px;
            }
        }
    }
    .trainingSamoyedo{
        h2{
            margin-top: 500px;
        }
    }
    .contenedorEjsamoy{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 250px 200px ;
        grid-template-areas: 
        "imagenEjsamoy"
        "ejsamoy";
        height: 800px;
        width: 100%;
        margin-bottom: 100px;
        .ejsamoy{
            grid-area: ejsamoy;
            font-family: cursive;
            h3{
                margin-top: 35px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 45px;
            }
            p{
                font-size: 20px;
                text-align: justify;
                margin-left: 50px;
                margin-right: 50px;
            }
        }
        .imagenEjsamoy{
            grid-area: imagenEjsamoy;
            background-image: url(multimedia/camina.jpg);
            background-size: cover;
        }
    }
}